@tailwind base;
@tailwind components;
@tailwind utilities;

.user-cart{
  text-align: center;
  width: 350px;
  margin: 10px; 
  padding: 15px 25px;
}

.user-cart img{
  margin: 5px auto; 
  width: 300px;
}

.user-cart .name{
  font-size: 35px;
}

.loading-text{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.error-text {
  color: red;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}